.footer {
   position: fixed;
   height: 32px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   Font-size:12px:
   font-family:sans-serif;
   text-align: center;
}
.header {
   position: fixed;
   height: 60px;
   left: 0;
   top: 0;
   width: 100%;
   background-color:rgb(251, 209, 25);
}
a{
  text-decoration: none;
}
