.footer {
   position: fixed;
   height: 32px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgb(0, 0, 0);
   color: rgb(0, 0, 0);
   Font-size:12px:
   font-family:sans-serif;
   text-align: center;
}
.header {
   position: fixed;
   height: 69px;
   left: 0;
   top: 0;
   width: 100%;
   background-color:rgb(173, 216, 230);
}

